<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="js/vue.min.js"></script>
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/样式.css" />
	</head>
	<body>
		<div id="app">
			
			<div class="header">
			<form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                	<div></div>
                    <input type="text" class="form-control" placeholder="理想三旬" v-model="query" @click="search" @keyup.enter="search" >
                    <button class="btn btn-default"  @click="search">搜索</button>
                </div>
            </form>
			</div>
            <div class="bodyer">
            	<div class="body1">
            	<ul class="list-group">
                    <li class="list-group-item" v-for="it in list" @click="play(it.id)">{{it.name}}<img src="img/mv.png" @click="playMv(it.mvid)" class="mv" v-show="it.mvid!=0"></li>
  
               </ul></div>
               <div class="body2"><img :src="musicConver" /></div>
               <div class="body3">
               	<a><h5>热门留言</h5>
               		<ul>
               			<li class="comment" v-for="it in liuyan">
               				{{it.content}}
               			</li>
               			<span class="glyphicon glyphicon-expand"></span>
               		</ul>
               	</a>
               </div>
            </div>
                <div class="fooder">
            
            	    <audio autoplay="autoplay" :src="musicUrl" controls="controls"></audio>
                </div>
                <div class="video" v-show="isShow">
				<video controls="controls" :src="mvPlay"></video>
			</div>
		</div>
		
		<script>
			var app=new Vue({
				el:"#app",
				data:{
					query:"",
					list:[],
					musicUrl:"",
					musicConver:"",
					liuyan:[],
					mvPlay:"",
					isShow:false
				},
				methods:{
					search:function(){
						var that=this;
						axios.get("https://autumnfish.cn/search?keywords="+this.query)
						.then(function(response){
							that.list=response.data.result.songs;
							
						},function(err){})
					},
					play:function(musicId){
						var that=this;
						axios.get("https://autumnfish.cn/song/url?id="+musicId)
						.then(function(response){
							console.log(response.data.data[0].url);
							that.musicUrl=response.data.data[0].url;
						},function(err){ })
						axios.get("https://autumnfish.cn/song/detail?ids="+musicId)
						.then(function(response){
							console.log(response.data.songs[0].al.picUrl);
							that.musicConver=response.data.songs[0].al.picUrl;
						},function(err){ })
						axios.get("https://autumnfish.cn/comment/hot?type=0&id="+musicId)
						.then(function(response){
							console.log(response.data.hotComments);
							that.liuyan=response.data.hotComments;
						},function(err){ })
					},
					playMv:function(mvid){
						var that=this;
						axios.get("https://autumnfish.cn/mv/url?id="+mvid)
						.then(function(response){
							console.log(response.data.data.url);
							that.mvPlay=response.data.data.url;
							that.isShow=true;
						},function(err){ })
					}
				},
			})
		</script>
	</body>
</html>
